
{% extends 'base.html' %}

{% load static %}

{% block content %}

	<!-- <head>
		<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.11.0/dist/tf.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet@2.2.2/dist/posenet.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-core@3.11.0/dist/tf-core.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-converter@3.11.0/dist/tf-converter.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-webgl@3.11.0/dist/tf-backend-webgl.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/pose-detection@0.0.6/dist/pose-detection.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	</head> -->
	
		<h3 id="label-username">USERNAME</h3>
		<div>
			<input id="username" /><button id="btn-join">Join Room</button>
		</div>

		<div>
			
			<video id="local-video" width="400" height="300" style="background-color: black; position: absolute; top: 16%; left: 0%;" autoplay playsinline></video>
			<canvas id="canvas"></canvas>
			<video id="remote-video" width="400" height="300" style="background-color: black; position: absolute; top: 16%; left: 32%;" autoplay playsinline></rvideo>
		</div>

		<div class="main-grid-container">
			<!-- for grid layout
			assign class video-grad-layout -->
			<div id="video-container">
				<!-- <button id="btn-toggle-video" class="btn btn-dark">Video Off</button> -->
			</div>

		</div>

		<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
		<script type="text/javascript" src="{% static 'js/peer.js' %}"></script>
	


{% endblock %}



