<div style="text-align: center; margin:2rem 0;">
    <div>
        <span style="color:red; font-size:1.8rem; font-family: 'Raleway', sans-serif; margin-bottom: 1.8rem; margin-right: 0rem">G</span><span style = "color:#656565; font-size:1.8rem; font-family: 'Raleway', sans-serif; margin-bottom: 1.8rem;">IST</span><span style = "color:black; font-size:1.8rem; font-family: 'Raleway', sans-serif; margin-bottom: 1.8rem;"> Computer Networking</span>
    </div>
    <div>
        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}" style="color:black; text-decoration-line: none; font-family: 'Raleway', sans-serif; padding: 1rem">
            <span>Login</span>
        </a>
        {% else %}
        <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" style="color:black; text-decoration-line: none; font-family: 'Raleway', sans-serif; padding: 1rem">
            <span style="color:#F10000">Logout</span>
        </a>
        {% endif %}
    </div>

</div>