<div style="text-align: center; margin-top: 2rem;">
    <div style="font-size: .6rem;">
        <a href="https://github.com/Nerd-Neck-GIST/Nerd-Neck-Server">Docs</a> |
        <a href="https://www.notion.so/Juchan-Lee-1d7510dfdc894025ab1b98a709f00a80">Team</a> |
        <a href="https://drive.google.com/drive/folders/1y0CoXwX-xebq3dtqbLJWLHJBOv6ogtPc?usp=share_link">Service</a>
    </div>
    <div style="margin-top: 1rem; height:100px;">
        <span style="color:red; font-size:1.2rem; font-family: 'Raleway', sans-serif; margin-bottom: 1.2rem; margin-right: 0rem">N</span><span style = "font-size: 1.0rem; font-family: 'Raleway', sans-serif; margin-bottom: 1.8rem;">erdNeck</span>
    </div>
</div>
     